
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #D6CFC4;
}
::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 7px 7px 7px 7px;
    height: 40px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #E0DCDD;
}

.test {
    background-color: #fff;
    box-shadow: 0px 0px 17px 1px rgb(0 0 0 / 10%);
    transition: 1s;
    padding: 8px 0px !important;
}
.test .logo-one {
    display: none;
    transition: 1s;
}
.test .logo-tow {
    display: inline-block;
    transition: 1s;
}
.test button {
    float: right;
    transition: 1s;
}
.btno-nav {
    float: right;
    transition: 1s;
}
.test button .la-bars {
color: #000;
}
.test button .la-bars:hover {
    color: #070707;
}
.test .active .nav-link {
    color: #13ce67;
    border-color: #13ce67;
    cursor: pointer;
}

.test .nav-link {
     color: #000;
     cursor: pointer;
 }
 .test .nav-item a:hover {
     color: #13ce67;
     border-color: #13ce67;
 }
.logo-tow {
    display: none;
}
.la-bars {
    color: #FDFFE5;
    font-size: 25px;
    border-radius: 10%;
    transition: 0.5s;
}

.fa-bars:hover {
    color: teal;
}

nav {
    padding: 22px 0px !important;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    position: fixed;
}
.nav-link  {
    background-color: transparent;
    color: #fff;
    border-bottom: 3px solid transparent;
    padding: 7px !important;
    margin: 0px 7px;
    font-weight: 600;
    transition: all 0.4s;
    text-transform: capitalize;
    cursor: pointer;
}

.active {
    color: #13ce67;
    border-color: #13ce67;
}

.nav-link:hover {
    color: #13ce67;
    border-color: #13ce67;
}


.img-home {
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}
.bg-home {
    background-color: rgba(27, 31, 37, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-table {
    display: table;
    width: 100%;
    height: 100vh;
}
.table-content {
    display: table-cell;
    vertical-align: middle;
}

.text-white {
    color: #fff !important;
    text-align: center !important;
}
.header-btn a {
    background-color: #13ce67;
    border: 2px solid #13ce67;
    color: #fff;
    transition: all 0.5s;
    border-radius: 30px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 12px 26px;
}

 .fa-play {
    background-color: #fff !important;
    padding: 0px 23px;
    height: 56px;
    width: 56px;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 15px;
    color: #000;
    margin-right: 1px;
    text-align: center;
    margin-left: -2px;
    line-height: 3.9;
    margin-top: -18px;
    border-color: #13ce67;
    transition: all 0.5s;
}


.fa-play:hover {
   color: #fff;
   background-color: #13ce67 !important;
   border-color: #13ce67;
}

.cap-head {
    color: white;
    text-align: center;
    margin-top: 60px;
}

.cap-head p {
    color: rgb(158, 155, 155);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    line-height: 30px;
    overflow: auto;
}

.btn-head {
    background-color: #44bd32; 
    border-radius: 30px;
    padding: 15px 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 40px auto 100px;
    color: #fff;
    transition: all 0.5s;
}

.btn-head:hover {
    background-color: #38ada9;
    text-decoration: none;
    color: #fff
}
/* end header */

/* 
    start image logo
*/
.img-site-top {
    background-color: #f8f9fa;
    padding: 80px 0px;
}
.img-site img {
    width: 126px;
    height: 100px;
    margin: 50px 0px;
}

/* 
    end img logo
*/


/* start featurs */

.featurs {
    text-align: center;
    font-family: arial;
    padding: 80px 0px;
    cursor: pointer;
}
.featurs:hover .fa-title {
    width: 70px;
}


.featurs h3 span {
    font-weight: bold;
}

.fa-title {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}

/* start row one */

.border-title {
    background-color: #13ce67;
    width: 60px;
    height: 2px;
    margin: 15px 0px;
}

.cont-1 {
margin-top: 40px;
}

.cont-1 h3 {
    display: inline-block;
    font-weight: normal;
}

.cont-1 p {
    margin-left: 40px;
    color:rgb(105, 102, 102);
    margin-top: 10px;
}

.fa-check-circle {
    color: #13ce67;
    width: 30px;
    height: 20px;
}

.cont-2 {
    margin-top: 40px;
}

.cont-2 h3 {
    display: inline-block;
    font-weight: normal;
}

.cont-2 p {
    margin-left: 40px;
    color:rgb(105, 102, 102);
    margin-top: 10px;
}

.cont-3 {
    margin-top: 40px;
}

.cont-3 h3 {
    display: inline-block;
    font-weight: normal;
}

.cont-3 p {
    margin-left: 40px;
    color:rgb(105, 102, 102);
    margin-top: 10px;
}
/* end row one */

/* start row two */

.img-featurs {
   display: flex;
   justify-content: space-around;
    margin: 20px auto;    
}

.img-featurs img {
    max-width: 100%;
    height: auto;
}

/* end row two */


.img-featurs-2 {
    display: flex;
   justify-content: space-around;
    margin: 20px auto;    
}

.img-featurs-2 img {
    max-width: 100%;
    height: auto; 
}

/* start row two */

.main-cont {
    margin-top: 100px;
}

.tit-1 {
    margin-top: 50px;
}

.cont-next {
    margin-top: 60px;
}

.cont-next h3 {
    display: inline-block;
    font-weight: normal;
}

.cont-next p {
    margin-left: 40px;
    color:rgb(105, 102, 102);
    margin-top: 10px;
}

.cont-next-1 {
    margin-top: 60px;
    margin-bottom: 85px;
}

.cont-next-1 h3 {
    display: inline-block;
    font-weight: normal;
}
/* end rwo two */

.flow-feat {
    background-color: #f8f9fa;
    text-align: center;
    padding: 80px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.flow-feat h2 {
    font-weight: normal;
}

.flow-feat p {
    color:rgb(105, 102, 102);
    padding-top: 1.5rem;  
    text-transform: capitalize;
}

.btn-2 {
    background-color: #13ce67;
    border: 2px solid #13ce67;
    color: #fff;
    transition: all 0.5s;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-radius: 30px;
    padding: 12px 26px;
}

.btn-2:hover {
    background-color: #19b35e;
    border-color: #19b35e;
}

/* end featurs */

/* start service */

.title-ser {
    text-align: center;
    padding-top: 80px;
    cursor: pointer;
}
.title-ser:hover .border-title-ser {
    width: 70px;
}

.title-ser h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: capitalize;
}

.title-ser h3 span {
    font-weight: bold;
    text-transform: capitalize;
}

.title-ser  p {
    color: rgb(105, 102, 102);
    text-transform: capitalize;
    padding-top: 30px;
}

.border-title-ser {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}

.mang {
    text-align: center;
    padding-bottom: 80px;
}

.mang p {
    color: #6c757d;
    text-transform: capitalize;
}

/* start icon service in website */

/* start part one in row one */

.fa-tape {
    margin: 60px 0px 20px;
    font-size: 36px;
    height: 60px;
    padding: 10px 15px;
    background-color: rgba(19, 206, 103, 0.15);
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 1.2;
}

.desi a {
    display: inline-block;
    border: 1px solid rgba(119, 119, 119, 0.13);
    padding: 5px 18px;
    color: #13ce67;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.desi a:hover {
    text-decoration: none;
    color: #13ce67;
}

.fa-arrow-right {
    margin-left: 15px;
}
/* end part one in rwo one */


/* start part two in rwo one */
.fa-paint-roller {
    margin: 60px 0px 20px;
    font-size: 36px;
    height: 60px;
    padding: 10px 15px;
    background-color: rgba(19, 206, 103, 0.15);
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 1.2;
}

.un-color a {
    display: inline-block;
    border: 1px solid rgba(119, 119, 119, 0.13);
    padding: 5px 18px;
    color: #13ce67;
    text-transform: capitalize;
}

.un-color a:hover {
    text-decoration: none;
    color: #13ce67;
}


/* end part two in rwo one */

/* start part three in rwo one */
.fa-ad {
    font-size: 36px;
    height: 60px;
    padding: 10px 15px;
    background-color: rgba(19, 206, 103, 0.15);
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 1.2;
    margin: 60px 0px 20px;
}

.fa-wifi {
    margin: 60px 0px 20px;
    font-size: 36px;
    height: 60px;
    padding: 10px 15px;
    background-color: rgba(19, 206, 103, 0.15);
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 1.2;
}

.fa-mobile-alt {
    margin: 60px 0px 20px;
    font-size: 36px;
    height: 60px;
    padding: 10px 15px;
    background-color: rgba(19, 206, 103, 0.15);
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 1.2;
}

.fa-cogs {
    margin: 60px 0px 20px;
    font-size: 36px;
    height: 60px;
    padding: 10px 15px;
    background-color: rgba(19, 206, 103, 0.15);
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 1.2;
}
/* end part three in rwo one */


/* end icon service in website */

/* end service */

/* start how it work */

.how-it {
    background-color: #f8f9fa;
    padding: 80px 0px;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}
.how-it:hover .fa-title1 {
    width: 70px;
}
.fa-title1 {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}

.how-it h3 {
    font-weight: 500;
    font-size: 1.75rem;
}

.how-it h3 span {
    font-weight: bold;
}

.how-it p {
    color: #6c757d;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.para-s {
    max-width: 250px;
}

.net {
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 1000;
}
.numb-back {
    position: absolute;
    font-size: 80px;
    top: 50%;
    left: 0;
    right: 0;
    color: #e6e6e6;
    transform: translateY(-50%);
    z-index: -30000;
}

.la-network-wired {
    margin-bottom: 30px;
    font-size: 40px;
    padding: 10px 15px;
    border-radius: 10px 10px 0px;
    color: #71b48f;
    height: 60px;
    line-height: 2;
}

.la-lightbulb {
    margin-bottom: 30px;
    font-size: 40px;
    height: 60px;
    padding: 10px 25px;
    border-radius: 10px 10px 0px;
    color: #71b48f;
    line-height: 2;
}

.la-cloud-upload-alt {
    margin-bottom: 30px;
    font-size: 40px;
    padding: 10px 15px;
    border-radius: 10px 10px 0px;
    color: #71b48f;
    height: 60px;
    line-height: 2;
}

/* end how it work */

/* start watch video */

.img-lap {
    background-image: url("../images/bg-video.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    height: 100%;
    color: #fff;
    padding: 80px 0px;
}

.img-lap h3 {
    margin-top: 30px;
}

.img-lap p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}



.click-watch a {
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 58px;
    padding: 4px 15px 3px 5px;
}

.click-watch a span {
    margin-right: 10px;
    vertical-align: super;
}

.click-watch a:hover {
    text-decoration: none;
    color: #fff;
}

.la-play {
    background: #13ce67;
    height: 56px;
    width: 56px;
    line-height: 56px;
    border-radius: 50%;
    font-size: 26px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    color: #fff;
}


/* end watch video */

/* start main client */

.main-client {
    background-color: #f8f9fa;
    padding: 80px 0px;
}

.client {
    text-align: center;
    font-family: arial;
    cursor: pointer;
}

.client:hover .fa-title2 {
    width: 70px;
}
.fa-title2 {
background-color: #13ce67;
width: 0px;
height: 2px;
margin: 15px auto;
transition: all ease-in-out 0.7s;
}


.client h3 span {
    font-weight: bold;
}

.client p {
    color: rgb(158, 155, 155);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    line-height: 30px;
}

.r1 {
    background-color: #fff;
    padding: 20px;
    border-top: 3px solid #13ce67;
    border-radius: 0px 0px 10px 10px;
}


.r1 i {
    height: 64px;
    width: 64px;
    font-size: 40px;
    display: inline-block;
    border-radius: 10px 10px 0px;
    background-color: rgba(19, 206, 103, 0.15);
    color: #13ce67;
    text-align: center;
}

.r1 p {
    font-style: italic;
    line-height: 2;
    margin-top: 20px;
    color: #6c757d;
}

.p-r1-2 {
    color: #13ce67 !important;
    font-style: normal !important;
    margin-top: -2px !important;
    margin-left: 10px;
}

/* end main client */

/* start our team */
.team-mang {
    padding: 80px 0px;
    cursor: pointer;
}
.team-mang:hover .fa-title3 {
    width: 70px;
}
.fa-title3 {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}

.team {
    text-align: center;
}

.team-1 {
    border: 1px dotted #e0e0e0;
    padding: 40px;
    height: 360px;
}

.team-1 img {
    border-radius: 50%;
}

.team-1 p {
font-size: 14px;
color: #6c757d;
}

.team-1 a {
    padding: 10px 15px;
    display: inline-flex;
    background-color: rgba(19, 206, 103, 0.12);
    color: #13ce67;
    border-radius: 30px;
}

.team-1 a:hover {
    text-decoration: none;
    color: #13ce67;
    box-shadow: none;
    outline: none;
}

/* end our team */

/* start our pricing */

.our-pric {
    background-color: #f8f9fa;
    padding: 80px 0px;
    cursor: pointer;
}
.our-pric:hover .fa-title4 {
    width: 70px;
}
.fa-title4 {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}
.price {
    border: 1px solid #ececec;
    padding: 40px 25px;
    border-radius: .25rem;
    background-color: #fff;
    text-align: center;
}

.price h4 {
    font-weight: 400;
}

.price h1 {
    font-size: 56px;
    color: #13ce67;
    font-weight: 300;
}

.price h6 {
    font-weight: 600;
    color: #6c757d;
}

.bot-brd-price {
    width: 100%;
    height: 2px;
    background-color: #eeeff1;
    margin: 40px 0px;
}

.fa-price p {
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: left;
}

.fa-price p span {
    font-weight: 600;
}

.fa-times-circle {
    color: #f73d3d;
    height: 22px;
    width: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 15px;
}

.pad {
    letter-spacing: 2px;
    margin-top: 30px;
}

/* end our pricing */

/* start question */
.questi {
    padding: 100px 0px;
    cursor: pointer;
}
.questi:hover .fa-title5 {
    width: 70px;
}
.fa-title5 {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}


.numb-item h2 {
    color: #13ce67;
    font-weight: 400;
}

.numb-item p {
    color: #6c757d;
}

.numb-item h5 {
    font-weight: 400;
}
/* end question */


.img-fixed {
    padding: 50px 0px;
    text-align: center;
    background-image: url("../images/ask.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 80px 0px;
}
.overlay {
    background-color: rgba(27, 31, 37, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.para {
    max-width: 600px;
}
.get-click {
    background-color: #13ce67;
    border: 2px solid #13ce67;
    color: #fff;
    transition: all 0.5s;
    padding: 12px 26px;
    border-radius: 30px;
    letter-spacing: 1px;
}
.get-click:hover {
 text-decoration: none;
 background-color: #19b35e;
 border-color: #19b35e;
 color: #fff;
}
.bto {
    padding: 13px 36px;
    background-color: #13ce67;
    border: 2px solid #13ce67;
    color: #fff;
    transition: all 0.5s;
    border-radius: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-color: #13ce67;
    margin-top: 90px;
}

.bto:hover {
    background-color: #19b35e;
}
/* end lets get */


/* start get in touch */
.data-follw {
    padding: 80px 0px;
    cursor: pointer;
}
.data-follw:hover .fa-title6 {
    width: 70px;
}
.fa-title6 {
    background-color: #13ce67;
    width: 0px;
    height: 2px;
    margin: 15px auto;
    transition: all ease-in-out 0.7s;
}
.conect-me {
    text-align: center;
}
.conect-me i {
    color: #13ce67;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.conect-me p {
    font-size: 20px;
}

/* end get in touch */

/* start register */

.reg {
    text-align: center;
}




.submit-data button {
    letter-spacing: 2px;
    padding: 12px 26px;
}
/* end register */

/* start footer */


footer {
    background-color: #242424;
}
.logo-foter {
    text-align: center;
    height: 34px;
}
.logo-foter img {
    height: 34px;
}

.footer-menu {
    text-align: center;
}
.footer-menu ul {
    list-style: none;
}
.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    font-weight: 600;
    transition: all 0.5s;
    color: #6c757d;
    margin: 0px 10px;
}
.footer-menu ul li a:hover {
    text-decoration: none;
    color: #13ce67;
}
.brd-footer {
    height: 2px;
    background-color: #2f2f2f;
    width: 100%;
}


.para-detils p {
    line-height: 75px;
    text-align: center;
    color: #6c757d;
}
.icon-follw-me ul {
    color: #6c757d;
    list-style: none;
    line-height: 100px;
  
}
.icon-follw-me ul li {
    display: inline-block;
}
.icon-follw-me ul li i {
    border: 3px solid #868e96;
    border-radius: 50%;
    transition: all 0.5s;
    width: 42px;
    height: 42px;
    display: block;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
}
.icon-follw-me ul li i:hover {
    color: #13ce67;
    border-color: #13ce67;
    cursor: pointer;
}

/* end footer */    


/* 
start scroll to up
*/

.up-to-home {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 25px;
    height: 25px;
    z-index: 1000;
    display: none;
    cursor: pointer;
    background-color: #13ce67;
    text-align: center;
    border-radius: 3px;
    transition: all 0.5s;
    
}
.la-angle-up {    
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}
.up-show {
    display: block;
    opacity: 0.5;
}
.opa {
    opacity: 1;
}
/* 
end scroll to ub
*/

ul {
    padding: 0;
}
/* @media (min-width: 992) {
.fa-bars {
    display: none;
} 
} */

